body {
	padding: 2rem;
	font-family: sans-serif;
	text-align: center;
	background-color: #f7fafb;
	color: #144a5a;
}

h1 {
	letter-spacing: -0.05em;
	font-size: 3em;
}

pre {
	text-align-last: left;
	width: min-content;
	margin: auto;
	background-color: #fff;
	padding: 1em;
}